azure-sentinel/MSSPVersion/Playbooks/Reset-Password-Entity-Trigger/azureDeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Reset-EntraIDUserPassword-EntityTrigger",
            "type": "String"
        }
    },
    "variables": {
        "MicrosoftSentinelConnectionName": "[concat('microsoftsentinel-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
            ],
            "tags": {
                "LogicAppsCategory": "security",
                "hidden-SentinelTemplateName": "Reset-AADUserPassword-EntityTrigger",
                "hidden-SentinelTemplateVersion": "1.1"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "provisioningState": "Succeeded",
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_entity": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                    }
                                },
                                "path": "/entity/@{encodeURIComponent('Account')}"
                            }
                        }
                    },
                    "actions": {
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Password",
                                        "type": "String",
                                        "value": null
                                    }
                                ]
                            }
                        },
                        "Set_variable_-_password": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "Password",
                                "value": "@{substring(guid(), 0, 10)}"
                            }
                        },
                        "Initialize_variable_Account": {
                            "runAfter": {
                                "Set_variable_-_password": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AccountDetails",
                                        "type": "String",
                                        "value": "@{concat(triggerBody()?['Entity']?['properties']?['additionalData']?['AccountName'], '@', triggerBody()?['Entity']?['properties']?['UPNSuffix'])}"
                                    }
                                ]
                            }
                        },
                        "HTTP_-_reset_a_password": {
                            "runAfter": {
                                "Initialize_variable_Account": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "https://graph.microsoft.com/v1.0/users/@{variables('AccountDetails')}",
                                "method": "PATCH",
                                "body": {
                                    "passwordProfile": {
                                        "forceChangePasswordNextSignIn": true,
                                        "forceChangePasswordNextSignInWithMfa": true,
                                        "password": "@{variables('Password')}"
                                    }
                                },
                                "authentication": {
                                    "audience": "https://graph.microsoft.com",
                                    "type": "ManagedServiceIdentity"
                                }
                            }
                        },
                        "HTTP_-_Revoke_Sign_In_Sessions": {
                            "runAfter": {
                                "HTTP_-_reset_a_password": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "https://graph.microsoft.com/v1.0/users/@{variables('AccountDetails')}/revokeSignInSessions",
                                "method": "POST",
                                "authentication": {
                                    "audience": "https://graph.microsoft.com",
                                    "type": "ManagedServiceIdentity"
                                }
                            }
                        },
                        "Add_comment_to_incident_(V3)_-_Successful_Reset": {
                            "runAfter": {
                                "HTTP_-_Revoke_Sign_In_Sessions": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "incidentArmId": "@triggerBody()?['IncidentArmID']",
                                    "message": "<p class=\"editor-paragraph\">The password for @{variables('AccountDetails')} was reset successfully!</p>"
                                },
                                "path": "/Incidents/Comment"
                            }
                        },
                        "Add_comment_to_incident_(V3)_-_Unsuccessful_Reset": {
                            "runAfter": {
                                "HTTP_-_reset_a_password": [
                                    "Failed"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "incidentArmId": "@triggerBody()?['IncidentArmID']",
                                    "message": "<p class=\"editor-paragraph\">The password for @{variables('AccountDetails')} was *NOT* reset successfully. Please escalate based on the Rules of Engagement!</p>"
                                },
                                "path": "/Incidents/Comment"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "microsoftsentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('MicrosoftSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        }
    ]
}
